* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.num_container {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-image: url(../img/retrowave.gif);
    background-size: cover;
}